/* @font-face {
    font-family: "kurale";
    src: url("asset/Kurale/Kurale-Regular.ttf");
} */

@font-face {
    font-family: "Subjectivity-Black";
    src: url("asset/Subjectivity/Subjectivity-Black.woff2");
}

@font-face {
    font-family: "Subjectivity-Bold";
    src: url("asset/Subjectivity/Subjectivity-Bold.woff2");
}

@font-face {
    font-family: "Subjectivity-Regular";
    src: url("asset/Subjectivity/Subjectivity-Regular.woff2");
}

::selection {
    color: #F1EAE0;
    background-color: #874A21;
  }

html{
    scroll-behavior: smooth;
    font-family: "Subjectivity-Regular", "Arial";
}


body{
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #F1EAE0;
    overflow-x: hidden;
}

h1{
    display: none;
}

.divTitre{
    position: absolute;
    top: 33.33%;
    right: 10%;

    max-width: min-content;

    font-size: 4rem;
    color: #F1EAE0;
    animation-delay: 2s;
    animation: titreSlide 1s ease-in forwards;
    cursor: default;
    
    z-index: 16;
}

.divTitre:hover p{
    opacity: 1;
}

.divTitre p{
    margin-top: 1rem;
    font-size: 1rem;
    opacity: 0;
    transition: ease-in 0.5s;
}

.divTitre span{
    font-size: 6rem;
    font-weight: bold;
}

.mouse{
    position: absolute;
    top: 50%;
    right: -100px;
}

.divClem{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    font-size: 5rem;
    font-weight: bold;
    color: #F1EAE0;
    z-index: 16;
}

.divClem h2{
    margin-top: 1rem;

}

.divNoise{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("asset/cropCopress/noise.png");
    background-repeat: repeat;
    z-index: 10;
    pointer-events: none;
    animation: noiseMove 0.5s steps(10) infinite;
}

.topPart{
    position: relative;
    width: 100%;
    height: 100vh;
}

.parallaxContainer{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: transparent; /* pas de fond vert */
  z-index: 0;              /* surtout pas -1 */
}

.parallaxLayer{
  position: absolute;
  top: 50%;
  left: 50%;

  /* surdimension pour ne jamais voir les bords pendant le parallax */
  width: 130vw;
  height: 150vh;

  transform: translate(-50%, calc(-50% + 8vh));   /* centrée au départ; Rellax ajoutera son translateY */
  will-change: transform;             /* perf */
  z-index: 0;
}

.imgFond{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(80%);
}

/* La vidéo plein écran en fond */
.bgVideo{
  position: absolute;
  inset: 0;                 /* top/right/bottom/left: 0 */
  width: 100%;
  height: 100%;
  object-fit: cover;        /* couvre tout */
  object-position: 50% 75%; /* montre plus le bas (augmente à 90% si tu veux encore plus) */
  pointer-events: none;
}

.imagebg{
    width: 90%;
    height: 90%;
}

.marron{
  position: absolute;
  inset: 0;
  background-color: #734939;
  mix-blend-mode: overlay;
  opacity: 0.40;
  z-index: 5;
  pointer-events: none;
}

.imgFond:first-child{
    position: relative;
    width: 100%;
    height: 100%;
}

.divNav{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
    width: 100%;
    height: 100%;

    z-index: 15;
}

.divNav a {
    color: #F1EAE0;
    font-size: 3rem;
    text-decoration: none;
    margin-left: 4rem;
}

.divNav a:hover{
    text-decoration:underline;
}

.downPart{
    background-color: #F1EAE0;
    width: 100%;
    height: 100%;
}

.goTop{
    position: fixed;
    bottom: 50px;
    right: 50px;

    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F1EAE0;
    box-shadow: #734939 2px 2px 10px;

    border-radius: 10px;

    cursor: pointer;
    z-index: 15;

    animation: forwards desapear 0.5s;
}

.goTop svg{
    fill: #3D3D3D;
}

footer{
    width: 100%;
    height: 1.5rem;
    background-color: #874A21;
    color: #F1EAE0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

@keyframes noiseMove {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 50% 50%;
    }
}

@keyframes titreSlide {
    0%{
        transform: translate(-200%, 0);
        opacity: 0;
    }

    100%{
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes desapear {
    100%{
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes apear {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 800px){
    .divTitre{
        display: none;
    }
    .mouse{
        display: none;
    }

    .divClem h2{
        font-size: 2.5rem;
    }

    footer{
        height: 1rem;
        font-size: 0.5rem;
    }

}
